.DS_Store

.classpath
.project
.settings
target

*/.classpath
*/.project
*/.settings
*/target
*/.externalToolBuilders

.springBeans
*/.springBeans
dewiktionary-20150315-pages-meta-current.xml
stem.txt
subword.txt
*wiktionary-*-pages-meta-current.xml*
